<!DOCTYPE html>
<html>
<head>
<title> forager </title>
<meta charset="utf-8">
<style>
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	width: 60%;
	height: 100%;
}
.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 50%;
}
#searchInput:focus {
 	border-color: #4d90fe;
}

</style>
</head>
<body>
  <div id="map" height="460px" width="100%"></div>
   <div id="form">
     <table>
     <tr><td>Name:</td> <td><input type='text' id='name'/> </td> </tr>
     <tr><td>Type:</td>
			 					<td><select id='type'> +
                <option value='Fruit' SELECTED>fruit</option>
                <option value='vegetable'>Vegetable</option>
                </select> </td></tr>
                <tr><td></td><td><input type='button' value='Save' onclick='saveMarker(lat, lon)'/></td></tr>
     </table>
   </div>
  <!-- this is the form that pops up on click -->
   <div id="message">Location saved</div>
<input id="searchInput" class="controls" type="text" placeholder="Enter a location">
<ul id="geoData">
    <li>Full Address: <span id="location"></span></li>
    <li>Postal Code: <span id="postal_code"></span></li>
    <li>Country: <span id="country"></span></li>
    <li>Latitude: <span id="lat"></span></li>
    <li>Longitude: <span id="lon"></span></li>
</ul>
<script>

function saveMarker(lat, lon) {

	$.ajax({
		url : '/markers',

		type: 'POST',

		dataType : "json",
		data: {
		"marker": {
		"name": "cherry",
		"longitude": 0.03,
		"latitude": 0.0,
		"address": "test street"
	}},
		success:function(data) { alert(JSON.stringify(data)); },
		error: function(data) { alert(JSON.stringify(data)); }
	});
}

var map;
      var marker;
      var infowindow;
      var messagewindow;


function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 49.2827, lng: -123.1207},
      zoom: 13

    });


    var input = document.getElementById('searchInput');
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    // auto complete area
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: map,
        animation:google.maps.Animation.Drop,
        anchorPoint: new google.maps.Point(0, -29)
    });

    autocomplete.addListener('place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            window.alert("Your location can not be found");
            return;
        }

        // If the place has results, then present it on a map.
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(19);
        }
        marker.setIcon(({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
        }));
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        var address = '';
        if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }

        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
        infowindow.open(map, marker);

        //Location details
        for (var i = 0; i < place.address_components.length; i++) {
            if(place.address_components[i].types[0] == 'postal_code'){
                document.getElementById('postal_code').innerHTML = place.address_components[i].long_name;
            }
            if(place.address_components[i].types[0] == 'country'){
                document.getElementById('country').innerHTML = place.address_components[i].long_name;
            }
        }
        document.getElementById('location').innerHTML = place.formatted_address;
        document.getElementById('lat').innerHTML = place.geometry.location.lat();
        document.getElementById('lon').innerHTML = place.geometry.location.lng();

        infowindow = new google.maps.InfoWindow({
       content: document.getElementById('form')
     })

     messagewindow = new google.maps.InfoWindow({
       content: document.getElementById('message')
     });

        google.maps.event.addListener(map, 'click', function(event) {
              marker = new google.maps.Marker({
                position: event.latLng,
                map: map
              });


        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
              });
          });
    });

}


</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap" async defer></script>
</body>
