// .column {
//   margin-top: 130px;
// }

.ui.inverted.menu{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px;
}

.login-footer {
  padding-left: 5px;
}

.ui.small.circular.image{
  margin-top: -10%;
  padding-left: 10px;
}
